pandas
langchain
langchain-core
langchain-ollama
langchain-community
ollama
unstructured
unstructured[pdf,ppt,doc,image]
python-docx
python-pptx
PyMuPDF
firebase-admin
pyrebase4
pinecone
tavily-python
sentence-transformers
